.required::before {
  content: "* ";
  color: red;
  font-weight: bold;
}
.label {
  padding-right: 52px;
}
.border {
  border-color: coral;
  border: 1px solid grey;
}
.img {
  margin-left: 25px;
  margin-top: 13px;
}

.o_form_view .o_input {
  border-bottom: 0.3px solid rgb(0, 0, 0) !important;
}
