<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <record model="ir.ui.menu" id="menu_apartment_root">
        <field name="name">Khu công nghiệp</field>
        <field name="sequence" eval="10" />
    </record>

    <record model="ir.ui.menu" id="menu_bang_thong_tin_root">
        <field name="name">Bảng thông tin</field>
        <field name="parent_id" ref="menu_apartment_root" />
        <field name="sequence" eval="10" />
    </record>

    <record model="ir.ui.menu" id="menu_quan_ly_danh_muc_root">
        <field name="name">Quản lý danh mục</field>
        <field name="parent_id" ref="menu_apartment_root" />
        <field name="sequence" eval="10" />
    </record>
</odoo>